.main {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    gap: 10px;
    list-style-type: none;
  }
}
