.main {
  width: 100%;
  background-color: white;
  min-height: 800px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .text,
  .description {
    border: 1px solid gray;
    background-color: rgba(128, 128, 128, 0.071);
    padding: 40px;
    text-align: justify;
    font-weight: lighter;
    font-size: 12pt;
    letter-spacing: 2px;
  }
  .img {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
